header {
    font-family: 'Lobster', cursive;
    color: rgb(34, 166, 253);
    text-align: center;
    border-bottom: 5px solid rgba(17, 4, 138, 0.637);
}
h1 {
    font-size: 500%;
}
h2 {
    font-size: 400%;
    margin-bottom: 20px;
}
    .centerAlign {
        text-align: center;
    }
    .ready {
        margin: 20px auto 40px auto;
        width: 600px;
        font-size: 150%;
        color: rgb(34, 166, 253);
    }
    .alphabetMargin {
        margin: 10px auto 10px auto;
    }
    .alphabet {
        padding: 10px;
        color: yellow;
        font-size: 150%;
        font-weight: bold;
    }
    .directions {
        margin: 10px auto 10px auto;
        color: rgb(34, 166, 253);
        font-size: 150%;
        font-weight: bold;
    }
    .dashMargin {
        margin: 15px auto 15px auto;
        border: 3px solid white;
        width: 270px;
    }
    .dashes {
        margin: 15px 5px 15px 5px;
        color: white;
        font-size: 150%;
        font-weight: bold;
        
    }
    .key {
        color: orange;
    }
    .right {
        color: rgb(0, 202, 0);
    }
    .wrong {
        color: red;
    }
